<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod sunt doloremque nam, tempore accusantium alias molestias consectetur itaque obcaecati ipsum nostrum beatae hic in molestiae rem debitis maxime autem dolore.</h2>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod sunt doloremque nam, tempore accusantium alias molestias consectetur itaque obcaecati ipsum nostrum beatae hic in molestiae rem debitis maxime autem dolore.</h2>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod sunt doloremque nam, tempore accusantium alias molestias consectetur itaque obcaecati ipsum nostrum beatae hic in molestiae rem debitis maxime autem dolore.</h2>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod sunt doloremque nam, tempore accusantium alias molestias consectetur itaque obcaecati ipsum nostrum beatae hic in molestiae rem debitis maxime autem dolore.</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>